
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    height: 100vh;
}

.header {
    flex: 1;
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 16px 200px 32px 200px;
}

.header-logo {
    color: white;
    font-weight: 900;
    font-size: 24px;

}

.footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    padding: 0px;
    margin: 0px;
    color: white;
    background-color: #1f2937;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 16px;
}

.info-header {
    color: black;
    size: 40 px;
    font-weight: 900;
    padding: 10px 10px 10px 10px;

}

.info-containers {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.info-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.subtext {
    display: flex;
    align-items: center;
    max-width: 100px;

}

.image {
    gap: 8px;
    color: transparent;
    outline: 4px solid blue;
    padding: 50px 50px 50px 50px;
    border-radius: 5px;
}

.quote {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 100px 350px 100px 350px;
    
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color: black;
}
.quote-author {
    color: black;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
}

.call-to-action{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    color: white;
    margin: 100px 200px 100px 200px;
    padding: 10px 200px 10px 200px;
    border-radius: 16px;
}

.call-to-action-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.call-to-action-header {
    font-size: 24px;
    font-weight: 900;
}




.sign-up-button {
    background-color: transparent;
    color: white;
    outline: 2px;
    outline-color: white;
    outline-style: solid;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    border-radius: 16px;
}


a.class1:link {
    font-size: 16px;
    text-decoration: none;
    color: lightgrey;
}

a.class1:visited {
    color: grey;
    text-decoration: none;
}

a.class2:link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

a.class2:visited {
    color: White;
    text-decoration: none;
    font-size: 16px;
    
}

ul {
    display: flex;
    text-decoration: none;
    color: grey;
    list-style-type: none;
    gap: 16px;
}
